body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-image: url("backgroundWhite-compressed.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.header {
  background-color: white;
  height: 63px;
  display: flex;
}

.header form
{
  margin-left: auto;
  margin-right: 1em;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  color: black;
  padding-left: 0.3em;
  font-family: 'Montserrat';
  line-height: 63px;
  vertical-align: middle;
  font-weight: 700;
}

h2 {
  text-align: center;
  margin: 0.5em 0em 0.5em 0.3em;
  color: rgb(86, 86, 255);
  font-size: 5em;
  font-family: 'Montserrat';
  font-weight: 700;
  opacity: 1;
}

.infernotext {
  color: rgb(214, 12, 12);
}

.menu {
  opacity: 0.5;
  background-color: white;
  text-align: center;
  width: 300px;
  height: 250px;
  padding: 20px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -140px;
  position: absolute;
  border-radius: 5px;
}

.menuReal {
  text-align: center;
  width: 300px;
  height: 250px;
  padding: 20px;
  top: 50%;
  left: 50%;
  margin: -105px 0 0 -140px; 
  position: absolute;
}

.footer {
  position: absolute;
  color: black;
  width: 100%;
  text-align: center;
  bottom: 0;
}

#signupForm div {
  padding-bottom: 0.5em;
}

*:focus {
    outline: none;
}

.menuReal:nth-child()
{
  padding-bottom: 10px;
}

.anonymous {
  display: flex;
  position: absolute;
  height: 50px;
  bottom: 30;
  right: 30;
  background-color: rgb(244, 244, 244);
  padding: 0 15px 0 15px;
  border-radius: 10px;
}

.anonymous p {
  display: inline-block;
  font-size: 20px;
  line-height: 50px;
  vertical-align: middle;
}

@media only screen and (max-width: 850px) {
  h1 {
    margin-top: 1.6em;
    margin-right: 0em;
    margin-left: 0em;
    position: absolute;
    z-index: 2;
  }

  .menu {
    margin: -100px 0 0 -150px;
  }

  .menuReal {
    margin: -100px 0 0 -150px;
  }

  h2 {
    margin-top: 1em;
    margin-left: 0em;
    font-size: 4em;
  }

  .anonymous {
    right: initial;
    bottom: 50;
    z-index: 10;
    left: 50%;
    margin: 0 0 0 -120px; 
    position: absolute;
  }

  /* height: 250px;
  padding: 20px;
  top: 50%;
  left: 50%;
  margin: -105px 0 0 -140px; 
  position: absolute; */

  .form-inline div {
    display: inline-block;
    text-align: left;
  }

  .form-group label {
    display: inline;
    margin: 0;
    padding: 0;
    clear: both;
  }

  .form-group, .form-group input {
    display: inline-block;
  }

  .form-group input {
    width: 25vw;
  }
}

@media only screen and (max-height: 570px) {
  .menu, .menuReal {
    margin-top: -50px;
  }
}

@media only screen and (max-height: 500px) {
  h2 {
    display: none;
  }

  .menu, .menuReal {
    margin-top: -100px;
  }
}

.form-group label {
  font-size: 0.9em;
}

.form-group input {
  width: 20vw;
}

@media only screen and (max-height: 340px) {
  .menu, .menuReal, .footer {
    display: none;
  }
}